# ---- Core & Data Handling ----
numpy
pandas
h5py
xarray

# ---- Web Backend ----
Flask
Flask-Cors
gunicorn

# ---- Geospatial Libraries ----
geopandas
rioxarray
cartopy

# ---- Visualization Libraries ----
matplotlib
plotly
folium
branca
hvplot
panel

# ---- Utilities ----
requests

